@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Roboto Slab", serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

figure {
  position: relative;
  width: 100%;
  margin: 0;
}

figcaption p {
  font-weight: lighter;
  position: absolute;
  left: .5rem;
  bottom: -.5rem;
  padding: 1rem;
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
  border-radius: .5rem;
  max-width: 15em;
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
    color: #fff;
  }

  p {
    font-weight: 300;
  }

}

@media only screen and (min-width: 60em) {
  /* 960 */

  html {
    font-size: 120%;
    line-height: 1.5;
  }

}

@media only screen and (min-width: 90em) {
  /* 1440 */

  html {
    font-size: 130%;
  }

}
